*.c = linguist-language=C
*.h = linguist-language=C
*.cc = linguist-language=C++
*.hh = linguist-language=C++
*.c++ = linguist-language=C++
*.h++ = linguist-language=C++
*.pas = linguist-language=Pascal
*.pp = linguist-language=Pascal
*.f = linguist-language=FORTRAN
*.cob = linguist-language=COBOL
*.sno = linguist-language=Snobol4
*.b = linguist-language=B
*.lex = linguist-language=lex
*.y = linguist-language=yacc
*.yy = linguist-language=yacc
*.awk = linguist-language=awk
*.zzzz = linguist-language=unknown
*.apl = linguist-language=APL
make = linguist-language=make
*.cmake = linguist-language=cmake
*.sh = linguist-language=shell
*.ksh = linguist-language=shell
*.bash = linguist-language=shell
*.tcsh = linguist-language=shell
*.bat = linguist-language=batch
*.lua = linguist-language=lua
*.objc = linguist-language=objective-c
*.objc++ = linguist-language=objective-c++
*.m4 = linguist-language=m4
*.html = linguist-language=sgml
*.htm = linguist-language=xml
*.xml = linguist-language=xml
*.json = linguist-language=json
*.js = linguist-language=javascript
*.st = linguist-language=smalltalk
*.bas = linguist-language=BASIC
*.s = linguist-language=assembly
*.asm = linguist-language=assembly
*.p = linguist-language=perl
*.lisp = linguist-language=lisp
*.pict = linguist-language=QuickDraw
*.svg = linguist-language=svg
