#my master list of file extentions. Everything I might ever need to work with ever, and how _I_ keep it streight.
*.c = linguist-language=C
*.h = linguist-language=C
*.cc = linguist-language=C++
*.hh = linguist-language=C++
*.c++ = linguist-language=C++
*.h++ = linguist-language=C++
*.r = linguist-language=rust
*.go = linguist-language=go
*.p = linguist-language=Pascal
*.pas = linguist-language=Pascal
*.pp = linguist-language=Pascal
*.f = linguist-language=FORTRAN
*.cob = linguist-language=COBOL
*.sno = linguist-language=Snobol4
*.rex = linguist-language=REXX
*.rexx = linguist-language=REXX
*.exec = linguist-language=REXX
*.b = linguist-language=B
*.bcpl = linguist-language=BCPL
*.bas = linguist-language=BASIC
*.alg = linguist-language=Algol
*.pli = linguist-language=PL/I
*.lex = linguist-language=lex
*.y = linguist-language=yacc
*.yy = linguist-language=yacc
*.y++ = linguist-language=yacc
*.awk = linguist-language=awk
*.pl = linguist-language=perl
*.lisp = linguist-language=lisp
*.scm = linguist-language=scheme
*.ss = linguist-language=scheme
*.hs = linguist-language=haskell
*.lhs = linguist-language=haskell
*.zzzz = linguist-language=unknown
*.apl = linguist-language=APL
make = linguist-language=make
*.cmake = linguist-language=cmake
*.sh = linguist-language=shell
*.ksh = linguist-language=shell
*.bash = linguist-language=shell
*.tcsh = linguist-language=shell
*.bat = linguist-language=batch
*.lua = linguist-language=lua
*.objc = linguist-language=objective-c
*.objc++ = linguist-language=objective-c++
*.csharp = linguist-language=csharp
*.m4 = linguist-language=m4
*.html = linguist-language=sgml
*.sgml = linguist-language=sgml
*.htm = linguist-language=xml
*.xml = linguist-language=xml
*.css = linguist-language=css
*.json = linguist-language=json
*.js = linguist-language=javascript
*.java = linguist-language=java
*.vbs = linguist-language=vbs
*.vb = linguist-language=visualbasic
*.applescript = linguist-language=applescript
*.st = linguist-language=smalltalk
*.lgo = linguist-language=logo
*.svg = linguist-language=svg
*.tex = linguist-language=latex
*.s = linguist-language=assembly
*.asm = linguist-language=assembly
*.pict = linguist-language=QuickDraw
*.srec = linguist-language=SRecord
*.ihex = linguist-language=IntelHex
*.bin = linguist-language=BinaryData
*.hex = linguist-language=Hex
*.o = linguist-language=object
*.out = linguist-language=object
*.dll = linguist-language=dll
*.exe = linguist-language=Executable
