#my master list of file extentions. Everything I might ever need to work with ever, and how _I_ keep it streight.
*.c = linguist-language=C
*.oldc = linguist-language=C
*.h = linguist-language=C
*.cc = linguist-language=C++
*.hh = linguist-language=C++
*.c++ = linguist-language=C++
*.h++ = linguist-language=C++
*.C = linguist-language=C++
*.H = linguist-language=C++
*.rs = linguist-language=Rust
*.go = linguist-language=Go
*.rb = linguist-language=Ruby
*.swift = linguist-language=Swift
*.p = linguist-language=Pascal
*.pas = linguist-language=Pascal
*.pp = linguist-language=Pascal
*.f = linguist-language=Fortran
*.f77 = linguist-language=Fortran
*.f90 = linguist-language=Fortran
*.cob = linguist-language=COBOL
*.adb = linguist-language=Ada
*.ads = linguist-language=Ada
*.sno = linguist-language=Snobol4
*.rex = linguist-language=REXX
*.rexx = linguist-language=REXX
*.exec = linguist-language=REXX
*.b = linguist-language=B
*.bcpl = linguist-language=BCPL
*.bas = linguist-language=Basic
*.alg = linguist-language=Algol
*.pli = linguist-language=PL/I
*.lex = linguist-language=Lex
*.flex = linguist-language=Lex
*.y = linguist-language=Yacc
*.yy = linguist-language=Yacc
*.y++ = linguist-language=Yacc
*.yacc = linguist-language=Yacc
*.bison = linguist-language=Bison
*.awk = linguist-language=Awk
*.sed = linguist-language=Sed
*.pl = linguist-language=Perl
*.lisp = linguist-language=lisp
*.scm = linguist-language=Scheme
*.ss = linguist-language=Scheme
*.hs = linguist-language=Haskell
*.lhs = linguist-language=Haskell
*.norlang = linguist-language=unknown
#norlang was a discontinued project of mine from a long time ago. It was supposed to be a hardware descriptor language for logic gates,
#but I didn't have any idea how to write a proper language at that point, and lua sandboxes just wouldn't cut it. I'm still stumped, but I might revisit it later.
*.zzzz = linguist-language=unknown
#my magnum opus, this language has been described by at least 1 person as "an anti-rust", however I think of it as an extended B.
#it is loosely typed, both very high and ultralow level, and has syntax that switches between C-like and Mainframe-era flawlessly.
#It is an amalgum of several other languages, taking the functions I like and rolling them all up in 1 place.
#The most visible influence is the use of Unicode symbols for some functions, which was inspired by APL. 
*.apl = linguist-language=APL
*.j = linguist-language=J
make = linguist-language=Makefile
*.cmake = linguist-language=CMake
CMakeLists.txt = linguist-language=CMake
*.sh = linguist-language=Shell
*.ksh = linguist-language=Shell
*.bash = linguist-language=Shell
*.tcsh = linguist-language=Shell
*.sixel = linguist-language=Shell
*.cgi = linguist-language=Shell
*.bat = linguist-language=Batchfile
*.lua = linguist-language=Lua
*.objc = linguist-language=Objective-C
*.objc++ = linguist-language=Objective-C++
*.m = linguist-language=Objective-C
*.mm = linguist-language=Objective-C++
*.M = linguist-language=Objective-C++
*.csharp = linguist-language=C#
*.m4 = linguist-language=M4
*.html = linguist-language=HTML
*.sgml = linguist-language=HTML
*.htm = linguist-language=HTML
*.xml = linguist-language=XML
*.css = linguist-language=CSS
*.ps = linguist-language=PostScript
*.json = linguist-language=JSON
*.js = linguist-language=JavaScript
*.java = linguist-language=Java
*.py = linguist-language=Python
*.py2 = linguist-language=Python
*.py3 = linguist-language=Python
*.pyx = linguist-language=Cython
*.bf = linguist-language=Brainfuck
*.d = linguist-language=D
*.vbs = linguist-language=vbnet
*.vb = linguist-language=vbnet
*.applescript = linguist-language=AppleScript
*.st = linguist-language=Smalltalk
*.lgo = linguist-language=Logo
*.svg = linguist-language=SVG
*.tex = linguist-language=latex
*.vhd = linguist-language=VHDL
*.vhdl = linguist-language=VHDL
*.v = linguist-language=Verilog
*.sv = linguist-language=SystemVerilog
*.vh = linguist-language=SystemVerilog
*.svh = linguist-language=SystemVerilog
*.s = linguist-language=assembly
*.asm = linguist-language=assembly
*.mot = linguist-language=assembly
*.pcode = linguist-language=assembly
*.fth = linguist-language=Forth
*.srec = linguist-language=SRecord
*.ihex = linguist-language=IntelHex
*.man.* = linguist-documentation=true
*.txt = linguist-documentation=true
*.rtf = linguist-documentation=true
*.md = linguist-documentation=true
